.App {
    display: flex;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(100, 8px);
    grid-template-rows: repeat(100, 8px);
    /* gap: 1px; */
}

.cell {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 0.5px solid lightgrey;
    /* box-sizing: border-box; */
}
