.App {
    display: flex;
    /* background-color: black; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(80, 10px);
    grid-template-rows: repeat(80, 10px);
    /* gap: 1px; */
}

.cell {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid lightgrey;
}
